* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Common  */
.text-white {
    color: #fff !important;
}
.text-graycustom {
    color: rgba(0, 0, 0, 0.6)!important;
}
.clear{
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}
.col-half {
    width: 50%;
}
.col-third {
    width: calc(100% / 3);
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center;
}
.mt-8 {
    margin-top: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.btn {
    width: 108px;
    height: 38px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 10px ;
    display: inline-block;
    margin: 0px 0px 16px ;
    text-align: center;
    border: none;
}
.btn:hover {
    background-color: #ccc;
    color: black;
    cursor: pointer;
}
.pull-right {
    float: right !important;
}

/* Main */
#main {

}
/**********************************************************************/

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
/* <!-- Begin: Nav --> */
#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;  
}
#nav>li>a {
    color: white;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav{
    display: inline-block;
}
#nav, .subnav {
    list-style: none;
}

#nav > li:hover > a ,
#nav .subnav li:hover a {
    color: black;
    background-color: #ccc;  
}

#nav > li:hover .subnav {
     display: block;
}

#nav .subnav a {
    color: black;
    padding: 0px 16px;
    text-align:left;
    line-height: 38px;
}
#nav .nav-arrow {
    font-size: 12px;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}
/* <!-- End: Nav --> */

/* <!-- Begin: Search button --> */
#header .search-button {
    float: right ;
    padding: 0px 21px;
    /* cursor: pointer; */
}
#header .search-icon {
    color:white;
    font-size: 20px;
    line-height: 46px;
}
#header .search-button:hover {
    cursor: pointer;
    background-color: #f44336;
}

/* <!-- End: Search button --> */



/**********************************************************************/

#slides {
    margin-top: 46px;
    /* min-height: 800px; */
    padding-top: 50%;
    /* background-color: dimgray; */
    background: url('/KZyred.github.io/assets/img/slider1/chicago.jpg') top center / cover no-repeat; 
    position: relative;
}
#slides .text-content {
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 32px 32px;
}
#slides .text-content .text-heading {
    font-weight: 900;
    font-size: 24px;
    margin: 10px 0px ;
}
#slides .text-content .text-description {
    margin: 15px 0px ;
    font-size: 15px;
}


/**********************************************************************/
#content {
    /* min-height: 5000px; */
}
#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    padding: 64px 16px 80px;
}
/********<!-- About section -->*******/
#content .content-section .section-heading {
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    margin: 10px 0px;
    letter-spacing: 4px;
    line-height: 45px;
}
#content .content-section .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin: 15px 0px;
    font-style: italic;
    opacity: 0.6;
    line-height: 22.5px;
}
#content .content-section .about-text{
    text-align: justify;
    margin: 15px 0px;
    line-height: 22.5px;
} 
/***************/
#content .member-list {
    display: block;
    padding: 32px 0px;
    text-align: center;
    overflow: hidden;
}
#content .member-name {
    font-size: 15px;
    margin: 15px 0px;
}
#content .member-img{
    border-radius: 4px 4px 4px 4px;
    width: 152px;
}

/********<!-- Tour section -->*******/
.tour-section {
    background-color:black;
}
/* <!-- Tickets --> */
.tickets-list {
    background-color:white;
    margin-top: 40px;
}
.tour-section li{
    font-size: 15px;
    line-height:22.5px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color:#757575;
    list-style: none;
}
.tour-section .tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px ;
}
.tickets-list .quantity {
    float: right;
    border-radius: 50%;
    background-color:black;
    color: white;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
/* <!-- Places --> */
.places-list {
    margin-top: 32px;
    margin-bottom: 40px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body {
    background-color:white;
    font-size: 15px;
    padding: 0.15px 16px;
}
.place-heading {
    font-size: 15px;
    font-weight: 600;
    margin: 15px 0px;
}
.place-time {
    margin: 15px 0px;  
    color:#757575;

}
.place-desc {
    margin: 15px 0px;  
    line-height: 1.4;
}
/********<!-- Contact section -->*******/
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 200;
}
/* chọn những cái mà có ti- ở đầu trong thẻ i của contact-info*/
.contact-info i[class*="ti-"]
{
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}
.contact-form .form-submit-btn {
    background-color: black;
    border: 0px solid #000;
    color:#fff;
    padding: 10px 16px; 
    float: right;  
    border
}
.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
/********<!-- Map section -->*******/
.map-section img {
    width: 100%;
}
/**********************************************************************/
#footer {
    padding: 64px 16px;
    text-align: center;
}
#footer .socials-list {
    font-size: 24px; 
}
#footer .socials-list a {
    text-decoration-line :none; 
}
#footer .copyright a:hover,
#footer .socials-list a:hover {
    opacity: 0.4;
}
#footer .copyright {
    margin: 15px 0px;
}

/**********************************************************************/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background : rgba(0, 0, 0, 0.4);
    /* display: flex; */
    display:none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container{
    min-height: 200px;
    width: 900px;
    background: white;
    position: relative;
    animation: modalFaceIn ease 0.5s;
}
.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}
.modal-heading-icon {
    margin-right: 12px;
}
.modal-close {
    position: absolute;
    right:0;
    top:0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
    opacity: 1;
    background:#ccc;
    color: black;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
    font-size: 15px;
}
#buy-tickets{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}
#buy-tickets:hover {
    /* background: #ccc;
    color: black; */
    opacity: 0.7;
}
.modal-footer{
    padding: 16px;
    text-align:right;
}
.modal-footer a {
    color: #2196f3;
}

/*lúc đầu mờ,tọa độ Y ở -100px -> lúc sau sáng tọa độ vị trí đã css từ trước */
@keyframes modalFaceIn {
    from { 
        opacity: 0;
        transform: translateY(-120px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}




















